:root{
    --primary-text-color: #212121;
    --secondary-text-colot: #757575;
    --accent-color: #2196F3;
    --back-ground-color: #2F303A;
    --address-text-color:  rgba(255, 255, 255, 0.6);
    --white-color: #ffffff;
    --primary-font-family: 
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* index.html */

 .container{
     width: 1200px;
     margin-left: auto;
     margin-right: auto;
     outline: 3px solid red;
     margin-bottom: 94px;
 }
.logo{
    font-family: 'Relaway' sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--accent-color);
}

.logo .part-logo{
    color: #000000;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.link{
    text-decoration: none;
}

.header-item{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-item:hover, 
.header-item:focus{
    color: var(--accent-color);
}
.nav-contact{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-colot);
}

.contact-item{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.contact-item:hover,
.contact-item:focus{
    color: var(--accent-color);
}
.current{
    color: var(--accent-color);
}


.main-title{
    margin-top: 0;
    margin-bottom: 30px; 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}

.main-section{
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
    margin-bottom: 94px;
    background-color:  var(--back-ground-color);
}
.footer-section{
    background-color:  var(--back-ground-color);
}
.main-button{
    font-weight: 700px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--white-color);

    display: inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    text-align: center;
    background-color: var(--accent-color);
    border: 1px solid transparent;
    border-radius: 4px;
}

.skills{
    margin-bottom: 94px;
}
.skills-list{
    font-weight: 700px;
    line-height: 1.14;
    text-transform: uppercase;
    }
   .skills-title{
       margin-top: 0;
       margin-bottom: 10px;
   }

.skills-description{
    color: var(--secondary-text-colot);
       margin-top: 0;
       margin-bottom: 0;
}
.work-section{
    margin-bottom: 50px;
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
}
.gallery{
    display: inline-block;
    margin-bottom: 0;
}
.team-section{
    background-color: #F5F4FA;
}
.team-member{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-position{
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-colot);
}

.address-contact{
    font-style: normal;
    color: var(--white-color);
}

.address-item{
    font-style: normal;
    color: var(--address-text-color);
}

.address-item:hover,
.address-item:focus{
    color: var(--accent-color);
}

/* portfolio.html */

.filter-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;  
}

.filter-button:hover,
.filter-button:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}

.description{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-colot);
}

.address-contact{
    color: var(--white-color);
}

.address-contact:hover,
.address-contact:focus{
    text-decoration: none;
    color: var(--accent-color);
}
.part-logo-footer{
    color: #ffffff;
}